@model List<Bit.Marvel.Reclutamiento.Presentacion.Models.CommicFromList>

@{
    ViewData["Title"] = "Detalle Sucursal";
}



<div class="container">
    <div class="row mt-2">
        @foreach (var comics in Model)
        {
            <div class="card col-3 mb-1">
                <a href="/Sucursales/DetalleComic?id=@comics.Id">
                    <img class="card-img-top " src="@comics.Thumbnail.ToString()" alt="Card image cap">
                </a>
              <div class="card-body">
                <h5 class="card-title">@comics.Title</h5>
                <p class="card-text"> Volumen @comics.IssueNumber</p>
              </div>
            </div>
        }
    </div>
    
</div>